doctype html 
html 
    head 
        title Harshita Dance Academy 
        block scripts 
        block style 
    body 
        nav#navbar 
            ul
                div#logo
                    img(src="/static/logo.png")
                    | HDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Classs Info] 
                li #[a(href="/contact") Contact Us]                
        block content 
    footer#footer 
        | All the copyrights goes to the owner of this site.